<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
          	<key>big</key>
          	<true/>
          	<key>height</key>
          	<integer>106</integer>
          	<key>cellClass</key>
          	<string>HBTwitterCell</string>
          	<key>label</key>
          	<string>Sentry (Founder of A³tweaks.)</string>
          	<key>user</key>
          	<string>Sentry</string>
        </dict>
        <dict>
      			<key>cell</key>
      			<string>PSGroupCell</string>
    		</dict>
        <dict>
          	<key>big</key>
          	<true/>
          	<key>height</key>
          	<integer>106</integer>
          	<key>cellClass</key>
          	<string>HBTwitterCell</string>
          	<key>label</key>
          	<string>Evan (iOS and OSX Developer.)</string>
          	<key>user</key>
          	<string>evilgoldfish01</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
          	<key>big</key>
          	<true/>
          	<key>height</key>
          	<integer>106</integer>
          	<key>cellClass</key>
          	<string>HBTwitterCell</string>
          	<key>label</key>
          	<string>Callum (Original Asphaleia developer.)</string>
          	<key>user</key>
          	<string>CallumRyan314</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
          	<key>big</key>
          	<true/>
          	<key>height</key>
          	<integer>106</integer>
          	<key>cellClass</key>
          	<string>HBTwitterCell</string>
          	<key>label</key>
          	<string>Shade (iOS Developer.)</string>
          	<key>user</key>
          	<string>ShadeZepheri</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
        </dict>
        <dict>
          	<key>cellClass</key>
          	<string>HBTwitterCell</string>
          	<key>label</key>
          	<string>A³tweaks</string>
          	<key>user</key>
          	<string>A3tweaks</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Translators</string>
            <key>detail</key>
            <string>ASTranslatorsController</string>
        </dict>
    </array>
    <key>title</key>
    <string>Creators</string>
</dict>
</plist>
