<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ACTIVATOR_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>id</key>
			<string>dynamicSelectionSwitchCell</string>
			<key>key</key>
			<string>dynamicSelection</string>
			<key>label</key>
			<string>DYNAMIC_SELECTION</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>ACTIVATOR_ACTIONS</string>
			<key>id</key>
			<string>dynamicSelectionActionsCell</string>
			<key>action</key>
			<string>openDynamicSelActivatorControlPanel</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ASAdvancedSecurityListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ADVANCED_SECURITY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>globalAppSecurity</string>
			<key>label</key>
			<string>GLOBAL_APP_SECURITY</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ASSecuredAppsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SECURED_APPS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ASSecuredFoldersListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SECURED_FOLDERS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ASSecuredSettingsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SECURED_SETTINGS_PANELS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ASSecuredSwitchesListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>SECURED_FLIPSWITCHES</string>
		</dict>
	</array>
	<key>title</key>
	<string>TITLE</string>
</dict>
</plist>
