<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>preventAppDeletion</string>
			<key>label</key>
			<string>APP_ARRANGING</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>preventPowerOff</string>
			<key>label</key>
			<string>SLIDE_TO_POWER_OFF</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureSwitcher</string>
			<key>label</key>
			<string>MULTITASKING</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureCC</string>
			<key>label</key>
			<string>CONTROL_CENTER</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>secureSpotlight</string>
			<key>label</key>
			<string>SPOTLIGHT</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PHOTOS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.a3tweaks.asphaleia</string>
			<key>key</key>
			<string>securePhotos</string>
			<key>label</key>
			<string>PHOTOS</string>
			<key>PostNotification</key>
			<string>com.a3tweaks.asphaleia/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>TITLE</string>
</dict>
</plist>
